#div-logo {
  display: flex;
  justify-content: center;
  padding: 0.5em;
}

#img-logo {
  height: 10vh;
}

#main-title {
  font-size: 4vw;
  text-align: center;
}

header {
  border: 1px solid rgb(41, 41, 41) !important;
}

#synop-section {
  text-align: justify;
  margin: 0.5em;
}

.btn-success {
  background-color: #9fcf67 !important;
}

#staff-section {
  margin: 0.5em;
  text-align: justify;
}

.staff-article {
  margin-top: 1em;
  margin-bottom: 3em;
}

.staff-article p {
  padding: 0 1em;
}

.title-article {
  text-align: center;
}

.div-img-collab {
  display: flex;
  justify-content: center;
}

.img-collab {
  height: 30vh;
  margin-bottom: 0.5em;
}

.div-btn-adress {
  display: flex;
  justify-content: center;
  margin: 0.5em 0;
}

.btn-adress a {
  color: white;
  text-decoration: none;
}

#formulaire-section {
  padding: 0.8em;
  margin: 0 1em 0.5em 1em;
  border: 1px solid rgb(41, 41, 41);
}

#div-btn-subForm {
  display: flex;
  justify-content: center;
}

#adress-section {
  margin: 0 1em 0.5em 1em;
  border: 1px solid rgb(41, 41, 41);
}

#map {
  margin: 0.5em 0 2em 0;
}

#adress-article {
  font-size: 0.5em;
  text-align: center;
}

#hour-table {
  padding: 0.5em;
}

#legal-section {
  padding-top: 1em;
  margin: 0 1em 0.5em 1em;
  border: 1px solid rgb(41, 41, 41);
  text-align: justify;
}

.icon-link {
  color: rgb(41, 41, 41);
}

#legal-info {
  font-size: 0.5em;
  display: flex;
  justify-content: space-between;
}
